<%- include('header') %>
    <div class="form-container">
        <form action="/new" method="post" class="form-container">
           <h3>New Item</h3> 
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
            </div>
            <br>

           <div class="form-group">
                <label for="category">Categories</label>
                <select name="category" id="Categories">
                    <option value="1">Games</option>
                    <option value="2">Consoles</option>
                </select>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" id="price">
                <br>
            </div>
            
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" id="quantity">
                <br>
            </div>

            <div class="form-group">
                <label for="platform">Platform</label>
                <select name="platform" id="platform">
                    <option value="PC">PC</option>
                    <option value="X Box">X Box</option>
                    <option value="PlayStation">PlayStation</option>
                    <option value="Nintendo">Nintendo</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Condition">Condition</label>
                <select name="condition" id="conditions">
                    <option value="new">New</option>
                    <option value="Used">Used</option>
                </select>
                </label>
            </div>
            
            <!-- Description -->
             <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Add description"></textarea>
             </div>
          <button><a href="">Update Item</a></button>
          <button><a href="">Delete Item</a></button>
        </form>
    </div>

<%- include('footer') %>
