<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <div><h1>Mini Messaging Board</h1></div>
        
    </header>
    <div class="links">
           <nav><a href="/">Home</a></nav>
           <nav><a href="/new">Add Message</a></nav>
        </div>
</body>